.dub
docs.json
__dummy.html
include/*
lib/*
/draymath-tests
draymath-tests.so
draymath-tests.dylib
draymath-tests.dll
draymath-tests.a
draymath-tests.lib
draymath-tests-test-*
*.exe
*.o
*.obj
*.lst
draymath_tests

